<table class="table table-bordered">
	<thead>
		<tr>
			<th>Salle (nombre postes)</th>
			<th>Etage</th>
			<th>Description</th>
			<th>Coeur</th>
			<th>Ecran</th>
			<th>OS</th>
			<th>Commentaire</th>
			<th>Carte Graphique</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Salle001 (34)</td>
			<td>rdc</td>
			<td>Libre Service/Bénévoles</td>
			<td>4</td>
			<td>2x22"</td>
			<td>Linux 64</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Salle004 (3)</td>
			<td>rdc</td>
			<td>Jeux Société</td>
			<td>4</td>
			<td>22"</td>
			<td>Linux 64</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Salle005 (30)</td>
			<td>rdc</td>
			<td>Jeux de role</td>
			<td>4</td>
			<td>24"</td>
			<td>Linux 64</td>
			<td>Core i7 (4c , 2 H-Thread)</td>
			<td>NVS300</td>
		</tr>
		<tr>
			<td>Salle007 (20)</td>
			<td>rdc</td>
			<td>TCT (Super Smash Bros for Wii U, Mario Smash Football, Super Smash Bros Melee, Mario Kart)</td>
			<td>4</td>
			<td>24"</td>
			<td>Linux 64</td>
			<td>xeon E3 v3 HT</td>
			<td>K600</td>
		</tr>
		<tr>
			<td>Salle008 (20)</td>
			<td>rdc</td>
			<td>Tekken - Awesomenauts</td>
			<td>12</td>
			<td>2x20"</td>
			<td>Linux 64</td>
			<td>2x 6cXeon E5-2630 v2 HT</td>
			<td>K2000</td>
		</tr>
		<tr>
			<td>Salle009 (25)</td>
			<td>rdc</td>
			<td>Pokemon – Starcraft 2</td>
			<td>4</td>
			<td>24"</td>
			<td>Linux 64</td>
			<td>xeon E3 v3 HT</td>
			<td>K600</td>
		</tr>
		<tr>
			<td>Salle101 (20)</td>
			<td>1er</td>
			<td>Hearthstone</td>
			<td>4</td>
			<td>2x22"</td>
			<td>Linux 64</td>
			<td>i7 (4c 2H)</td>
			<td>NVS300</td>
		</tr>
		<tr>
			<td>Salle102 (20)</td>
			<td>1er</td>
			<td>Hearthstone</td>
			<td>4</td>
			<td>2x22"</td>
			<td>Linux 64</td>
			<td>xeon E3 v3 HT</td>
			<td>K600</td>
		</tr>
		<tr>
			<td>Salle103 (20)</td>
			<td>1er</td>
			<td>Hearthstone - Rocket League</td>
			<td>4</td>
			<td>2x24"</td>
			<td>Linux 64/Windows 7</td>
			<td>xeon E3 v3 HT</td>
			<td>K600</td>
		</tr>
		<tr>
			<td>Salle104 (20)</td>
			<td>1er</td>
			<td>Stepmania - OSU</td>
			<td>4</td>
			<td>2x24"</td>
			<td>Linux 64</td>
			<td>Xeon 4c</td>
			<td>K600</td>
		</tr>
		<tr>
			<td>Salle105 (20)</td>
			<td>1er</td>
			<td>Eurythmia - Trackmania</td>
			<td>4</td>
			<td></td>
			<td>Linux 64</td>
			<td>i7 (4c - 2ht)</td>
			<td>NVS300</td>
		</tr>
		<tr>
			<td>Salle201 (20)</td>
			<td>2e</td>
			<td>CSGO</td>
			<td>6</td>
			<td>27"</td>
			<td>Linux 64/Windows 7</td>
			<td>6C xeon </td>
			<td>K2000</td>
		</tr>
		<tr>
			<td>Salle202 (20)</td>
			<td>2e</td>
			<td>CSGO</td>
			<td>6</td>
			<td>24"</td>
			<td>Linux 64</td>
			<td>4c x Xeon</td>
			<td>K600</td>
		</tr>
		<tr>
			<td>Salle203 (20)</td>
			<td>2e</td>
			<td>HOTS</td>
			<td>12</td>
			<td>24"</td>
			<td>Linux 64</td>
			<td>Xeon E5 V2 : 2 x 6 coeurs HT</td>
			<td>4000</td>
		</tr>
		<tr>
			<td>Salle204 (20)</td>
			<td>2e</td>
			<td>TeamFortress2</td>
			<td>4</td>
			<td>22"</td>
			<td>Linux 64</td>
			<td>Core i7 (4c , 2 H-Thread)</td>
			<td>K600</td>
		</tr>
		<tr>
			<td>Salle205 (20)</td>
			<td>2e</td>
			<td>League of Legends</td>
			<td>4</td>
			<td>24"</td>
			<td>Linux 64</td>
			<td>xeon E3 v3 HT</td>
			<td>K600</td>
		</tr>
		<tr>
			<td>Salle206 (20)</td>
			<td>2e</td>
			<td>League of Legends</td>
			<td>4</td>
			<td>24"</td>
			<td>Linux 64</td>
			<td>xeon E3 v3 HT</td>
			<td>K600</td>
		</tr>
		<tr>
			<td>Salle207 (20)</td>
			<td>2e</td>
			<td>League of Legends</td>
			<td>4</td>
			<td>24"</td>
			<td>Linux 64</td>
			<td>xeon E3 v3 HT</td>
			<td>K600</td>
		</tr>
		<tr>
			<td>Salle208 (20)</td>
			<td>2e</td>
			<td>League of Legends</td>
			<td>4</td>
			<td>24"</td>
			<td>Linux 64</td>
			<td>xeon E3 v3 HT</td>
			<td>K600</td>
		</tr>
	<tbody>
</table>