
<h3 style="color:red;">Répartition des 5000€ de bons d'Achats de <a href="http://cyberpc.fr/fr/">CyberPC</a>*</h3>
*utilisables deux fois, non cumulables.
<table class="table table-hover">
    <thead>
        <tr>
            <th>
            	Répartition
            </th>
            <th>
            	1e/joueur
            </th>
            <th>
            	Total joueur
            </th>
            <th>
            	Total équipe
            </th>
            <th>
            	2e/joueur
            </th>
            <th>
            	Total joueur
            </th>
            <th>
            	Total équipe
            </th>
            <th>
            	3e/joueur
            </th>
            <th>
            	Total joueur
            </th>
            <th>
            	Total équipe
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
            	LOL
            </td>
            <td>
            	5*5€+1*10€
            </td>
            <td>
            	35€
            </td>
            <td>
            	175€
            </td>
            <td>
            	5*5€
            </td>
            <td>
            	25€
            </td>
            <td>
            	125€
            </td>
            <td>
            	4*5€
            </td>
            <td>
            	20€
            </td>
            <td>
            	100€
            </td>
        </tr>
        <tr>
            <td>
            	CSGO
            </td>
            <td>
            	5*5€+1*10€
            </td>
            <td>
            	35€
            </td>
            <td>
            	175€
            </td>
            <td>
            	5*5€
            </td>
            <td>
            	25€
            </td>
            <td>
            	125€
            </td>
            <td>
            	4*5€
            </td>
            <td>
            	20€
            </td>
            <td>
            	100€
            </td>
        </tr>
        <tr>
            <td>
            	HOTS
            </td>
            <td>
            	4*5€+1*10€
            </td>
            <td>
            	30€
            </td>
            <td>
            	150€
            </td>
            <td>
            	4*5€
            </td>
            <td>
            	20€
            </td>
            <td>
            	100€
            </td>
            <td>
            	3*5€
            </td>
            <td>
            	15€
            </td>
            <td>
            	75€
            </td>
        </tr>
        <tr>
            <td>
            	Rocket League
            </td>
            <td>
            	4*5€+1*10€
            </td>
            <td>
            	30€
            </td>
            <td>
            	90€
            </td>
            <td>
            	4*5€
            </td>
            <td>
            	20€
            </td>
            <td>
            	60€
            </td>
            <td>
            	3*5€
            </td>
            <td>
            	15€
            </td>
            <td>
            	45€
            </td>
        </tr>
        <tr>
            <td>
            	Awesomnauts
            </td>
            <td>
            	4*5€+1*10€
            </td>
            <td>
            	30€
            </td>
            <td>
            	90€
            </td>
            <td>
            	4*5€
            </td>
            <td>
            	20€
            </td>
            <td>
            	60€
            </td>
            <td>
            	3*5€
            </td>
            <td>
            	15€
            </td>
            <td>
            	45€
            </td>
        </tr>
        <tr>
            <td>
            	Team Fortress
            </td>
            <td>
            	4*5€+1*10€
            </td>
            <td>
            	30€
            </td>
            <td>
            	90€
            </td>
            <td>
            	4*5€
            </td>
            <td>
            	20€
            </td>
            <td>
            	60€
            </td>
            <td>
            	3*5€
            </td>
            <td>
            	15€
            </td>
            <td>
            	45€
            </td>
        </tr>
        <tr>
            <td>
            	Hearthstone
            </td>
            <td>
            	4*5€+1*10€
            </td>
            <td>
            	30€
            </td>
            <td>
            </td>
            <td>
            	4*5€
            </td>
            <td>
            	20€
            </td>
            <td>
            </td>
            <td>
            	3*5€
            </td>
            <td>
            	15€
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
            	Super Smash Bros Wii U
            </td>
            <td>
            	4*5€+1*10€
            </td>
            <td>
            	30€
            </td>
            <td>
            </td>
            <td>
            	4*5€
            </td>
            <td>
            	20€
            </td>
            <td>
            </td>
            <td>
            	3*5€
            </td>
            <td>
            	15€
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
            	Mario Smash Foot
            </td>
            <td>
            	4*5€+1*10€
            </td>
            <td>
            	30€
            </td>
            <td>
            </td>
            <td>
            	4*5€
            </td>
            <td>
            	20€
            </td>
            <td>
            </td>
            <td>
            	3*5€
            </td>
            <td>
            	15€
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
            	Starcraft 2
            </td>
            <td>
            	4*5€+1*10€
            </td>
            <td>
            	30€
            </td>
            <td>
            </td>
            <td>
            	4*5€
            </td>
            <td>
            	20€
            </td>
            <td>
            </td>
            <td>
            	3*5€
            </td>
            <td>
            	15€
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
            	Tekken
            </td>
            <td>
            	4*5€+1*10€
            </td>
            <td>
            	30€
            </td>
            <td>
            </td>
            <td>
            	4*5€
            </td>
            <td>
            	20€
            </td>
            <td>
            </td>
            <td>
            	3*5€
            </td>
            <td>
            	15€
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
            	Pokemon
            </td>
            <td>
            	4*5€+1*10€
            </td>
            <td>
            	30€
            </td>
            <td>
            </td>
            <td>
            	4*5€
            </td>
            <td>
            	20€
            </td>
            <td>
            </td>
            <td>
            	3*5€
            </td>
            <td>
            	15€
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
            	Guitar Hero
            </td>
            <td>
            	4*5€+1*10€
            </td>
            <td>
            	30€
            </td>
            <td>
            </td>
            <td>
            	4*5€
            </td>
            <td>
            	20€
            </td>
            <td>
            </td>
            <td>
            	3*5€
            </td>
            <td>
            	15€
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
            	Super Smash Bros Melee
            </td>
            <td>
            	4*5€+1*10€
            </td>
            <td>
            	30€
            </td>
            <td>
            </td>
            <td>
            	4*5€
            </td>
            <td>
            	20€
            </td>
            <td>
            </td>
            <td>
            	3*5€
            </td>
            <td>
            	15€
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
            	Mario Kart
            </td>
            <td>
            	4*5€+1*10€
            </td>
            <td>
            	30€
            </td>
            <td>
            </td>
            <td>
            	4*5€
            </td>
            <td>
            	20€
            </td>
            <td>
            </td>
            <td>
            	3*5€
            </td>
            <td>
            	15€
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
            	Stepmania
            </td>
            <td>
            	4*5€+1*10€
            </td>
            <td>
            	30€
            </td>
            <td>
            </td>
            <td>
            	4*5€
            </td>
            <td>
            	20€
            </td>
            <td>
            </td>
            <td>
            	3*5€
            </td>
            <td>
            	15€
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
            	Osu
            </td>
            <td>
            	4*5€+1*10€
            </td>
            <td>
            	30€
            </td>
            <td>
            </td>
            <td>
            	4*5€
            </td>
            <td>
            	20€
            </td>
            <td>
            </td>
            <td>
            	3*5€
            </td>
            <td>
            	15€
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
            	Trackmania
            </td>
            <td>
            	4*5€+1*10€
            </td>
            <td>
            	30€
            </td>
            <td>
            </td>
            <td>
            	4*5€
            </td>
            <td>
            	20€
            </td>
            <td>
            </td>
            <td>
            	3*5€
            </td>
            <td>
            	15€
            </td>
            <td>
            </td>
        </tr>
    </tbody>
</table>
<br><br><br>
<h3>Lots supplémentaires</h3>
<br>
<p><a href="http://ecx.images-amazon.com/images/I/81xewfICo1L._SL1500_.jpg">Peluche primo-kyogre</a> venant du Pokémon Center de Tokyo</p>

