<table class="table table-bordered">
	<thead>
		<tr>
			<th>Horaires</th>
			<th>18h</th>
			<th>19h</th>
			<th>20h</th>
			<th>21h</th>
			<th>22h</th>
			<th>23h</th>
			<th>00h</th>
			<th>01h</th>
			<th>02h</th>
			<th>03h</th>
			<th>04h</th>
			<th>05h</th>
			<th>06h</th>
			<th>07h</th>
			<th>08h</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Inscription/accueil joueurs</td>
			<td id="occupied"></td>
			<td id="occupied"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Installation joueurs</td>
			<td></td>
			<td></td>
			<td id="occupied"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>LOL/CSGO</td>
			<td></td>
			<td></td>
			<td></td>
			<td id="occupied"></td>
			<td id="occupied"></td>
			<td id="occupied"></td>
			<td id="occupied"></td>
			<td id="occupied"></td>
			<td id="occupied"></td>
			<td id="occupied"></td>
			<td id="occupied"></td>
			<td id="occupied"></td>
			<td id="occupied"></td>
			<td id="occupied"></td>
			<td></td>
		</tr>
		<tr>
			<td>Hearthstone</td>
			<td></td>
			<td></td>
			<td></td>
			<td id="occupied"></td>
			<td id="occupied"></td>
			<td id="occupied"></td>
			<td id="occupied"></td>
			<td id="occupied"></td>
			<td id="occupied"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Pokemon</td>
			<td></td>
			<td></td>
			<td></td>
			<td id="occupied"></td>
			<td id="occupied"></td>
			<td id="occupied"></td>
			<td id="occupied"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Super Smash Bros for Wii U</td>
			<td></td>
			<td></td>
			<td></td>
			<td id="occupied"></td>
			<td id="occupied"></td>
			<td id="occupied"></td>
			<td id="occupied"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Mario Kart 8</td>
			<td></td>
			<td></td>
			<td></td>
			<td id="occupied"></td>
			<td id="occupied"></td>
			<td id="occupied"></td>
			<td id="occupied"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>HOTS</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td id="occupied"></td>
			<td id="occupied"></td>
			<td id="occupied"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Tekken</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td id="occupied"></td>
			<td id="occupied"></td>
			<td id="occupied"></td>
			<td id="occupied"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Awesomenauts</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td id="occupied"></td>
			<td id="occupied"></td>
			<td id="occupied"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>GuitarHero</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td id="occupied"></td>
			<td id="occupied"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Starcraft II</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td id="occupied"></td>
			<td id="occupied"></td>
			<td id="occupied"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Rocket League</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td id="occupied"></td>
			<td id="occupied"></td>
			<td id="occupied"></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Team Fortress 2</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td id="occupied"></td>
			<td id="occupied"></td>
			<td id="occupied"></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>