{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
		    <h1>Team creation</h1>
		    {% form_theme form 'bootstrap_3_layout.html.twig' %}
		
		    {{ form_start(form) }}
		        {{ form_widget(form) }}
		        <input class="btn btn-default" type="submit" value="Create" />
		    {{ form_end(form) }}
		
	        <a class="btn btn-default" href="{{ path('team_index') }}">Back to the list</a>
		</div>
	</div>
{% endblock %}
