{% extends 'base.html.twig' %}

{% block body -%}
    <div class="container">
		<div class="row">
		    <div class="col-xs-2 col-md-4"></div>
		    <div class="col-xs-8 col-md-4">
			  	<div class="form-group">
					{% form_theme form 'bootstrap_3_layout.html.twig' %}
					
					<center><h1>Inscription Utilisateur</h1></center>
    				<hr>
    				<br>
					
					{% trans_default_domain 'FOSUserBundle' %}
					{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
					    {{ form_widget(form) }}
					    <div>
					        <button id="inscription" class="btn btn-primary btn-lg btn-block" type="submit" value="{{ 'registration.submit'|trans }}">
						        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
						        Créer
					        </button>
					    </div>
					{{ form_end(form) }}
				</div>
			</div>
		    <div class="col-xs-2 col-md-4"></div>
		</div>
	</div>
{% endblock %}