{% extends 'base.html.twig' %}

{% block body -%}
    <div class="container">
		<div class="row">
		    <div class="col-xs-2 col-md-4"></div>
		    <div class="col-xs-8 col-md-4">
			  	<div class="form-group">
			  		<h1>Reset votre mot de passe</h1>
			  		<br>
			  		{% trans_default_domain 'FOSUserBundle' %}
					{% block fos_user_content %}
					<p>Votre demande a été prise en compte</p>
					{% endblock fos_user_content %}
				</div>
			</div>
		</div>
	</div>
{%endblock%}

