<p><span style="font-size: 24pt;">Bonjour,</span></p>
<br>
<p><span>Merci de vous &ecirc;tre inscrits aux LGC, nous vous attendons avec impatience le 18 mars &agrave; partir de 18h ! </span></p>
<p><span>N'oubliez pas de vous inscrire aux tournois, et &agrave; d&eacute;clarer votre int&eacute;r&ecirc;t pour les jeux propos&eacute;s ! </span></p>
<br>
<p><em>Les organisateurs des LGC</em></p>