<p><span style="font-family: arial, helvetica, sans-serif; font-size: 24pt;">Bonjour,</span></p>
<br>
<p><span>Votre paiement pour les LGC a bien &eacute;t&eacute; pris en compte. N'oubliez pas de vous inscrire aux tournois, et &agrave; d&eacute;clarer votre int&eacute;r&ecirc;t pour les jeux propos&eacute;s !</span></p>
<p><span>Rendez-vous le 18 mars &agrave; partir de 18h. </span></p>
<br>
<p><em>Les organisateurs des LGC</em></p>
