{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
				<h1>Rechercher joueurs disponibles pour tournoi</h1>
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Nom joueur</th>
							<td align="right">Action</td>
						</tr>
					</thead>
					<tbody>
			        	{%for user in users%}
			        		<tr>
			        			<td>
			        				{{user.username}}
			        			</td>
			        			<td align="right">
			        				{%if (is_granted("IS_AUTHENTICATED_REMEMBERED"))%}
			          					{%for player in searchCategoryService.getPlayerGame(app.user.id, game.id)%}
	    									{% if player.team 
											and player.team.validation is null 
											and player.capitain %} 
						        				{%if searchCategoryService.checkApplication(app.user.id, game.id, 'team', user.id) == null%}
								                	<a class="btn btn-default" target="_blank" href="{{path('application_new', searchCategoryService.newApplicationTeamArray(app.user.id, user.id,game.id,'team')) }}" >
								                    	 <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Recruter
								                    </a>
								                {%else%}
								                	<a class="btn btn-default disabled" href="{{path('application_new', searchCategoryService.newApplicationTeamArray(app.user.id,user.id,game.id,'team')) }}" >
								                    	 Attente réponse
								                    </a>
								                {%endif%}
						                	{%endif%}
						                {%endfor%}
						            {%endif%}
			        			</td>
			        		</tr>
			        	{%endfor%}
			        </tbody>
				</table>
			</div>
        </div>
	</div>
{% endblock %}
